div .navbar-nav  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

div .navbar-nav a {
    margin: 0 5px;
}

@media screen and (max-width: 480px) {
    #navbar {
         display: flex;
         flex-direction: column;
         justify-content: center;
    }
}